<div class="container">
  <!--<app-formulario></app-formulario>-->
  <div class="card">

    <div class="card-body">

        <form #formPost="ngForm" (ngSubmit)="onSubmit(formPost.value)">
            <div class="mb-2">
                <label class="form-label">
                    Nombre:
                </label>
                <input type="text" name="nombre" class="form-control" ngModel placeholder="Ingrese un nombre" required> <!--[(ngModel)]="persona.nombre" -->
            </div>
    
            <div class="mb-2">
                <label class="form-label">
                    Apellido:
                </label>
                <input type="text" name="apellido" class="form-control" ngModel placeholder="Ingrese un apellido" required> <!--[(ngModel)]="persona.apellido" -->
            </div>

            <div>
                <label class="form-label">
                    Teléfono:
                </label>
                <input type="number" name="telefono" class="form-control" ngModel placeholder="Ingrese un teléfono" required> <!--[(ngModel)]="persona.telefono" -->
            </div>

            <div class="mb-2">
                <label class="form-label">
                    Correo electrónico:
                </label>
                <input type="email" name="correo" class="form-control" ngModel placeholder="Ingrese un Correo electrónico" required> <!--[(ngModel)]="persona.correo" -->
            </div>

            <button type="submit" class="btn btn-primary mt-2">Enviar</button>
        </form>
    </div>
</div>


<!--{{persona | json}}-->
</div>
